<div class = "container">
  <%= flash[:notice] %>
  <div class = "mt-4 pl-2 border border-success">
    <div class = "row">
      <div class = "col-md-4 mt-4 ">
        <%= image_tag  @item_post.get_item_image(250, 200), class: "large-image" %>
        <div class ="row ml-3">
        </div>
      </div>
      <div class ="col-md-8">
        <table>
          <th>
            <tr>
              <td class = "col-md-3"><h5>商品名</h5></td>
              <td class = "col-md-5"><%= @item_post.item_name %></td>
            </tr>
            <tr>
              <td class = "col-md-3"><h5>商品モデル番号</h5></td>
              <td class = "col-md-5"><%= @item_post.model_number %></td>
            </tr>
            <tr>
              <td class = "col-md-3"><h5>商品説明文</h5></td>
              <td class = "col-md-5"><%= @item_post.item_explanation %></td>
            </tr>
          </th>
        </table>
      </div>
    </div>
    <div class = "row">
      <div class ="col-md-4 text-center mt-2">
        <%= link_to "編集する",edit_admin_item_post_path(@item_post), class: "btn-block btn-success" %>
      </div>
      <div class ="col-md-2"><h5>ジャンル:</h5></div>
      <div class ="col-md-2"><%= @item_post.item_genre.genre %></div>
      <div class ="col-md-2"><h5>投稿者:</h5></div>
      <div class ="col-md-2"><%= @item_post.customer.display_name %></div>
    </div>
  </div>
  <!--商品に対しての平均点表示-->
  <div class = "row justify-content-center border border-danger mt-3">
    <h4 class = "offset-md-2 mr-2">平均評価</h4>
    <div id = "average_star_<%= @item_post.id %>"></div>
    <script>
     $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#average_star_<%= @item_post.id %>');
                    if (elem == null) return;

                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= @item_post.reviews.average(:star).to_f.round(1) %>,
                    };
                    raty(elem, opt);
                  });
      </script>
      <h4><%= @item_post.reviews.average(:star).to_f.round(1) %>点</h4>
      <p class = "sentiment-score ml-4">AI感情分析平均 <%= render 'admin/item_posts/lang_score_average', item_post: @item_post %> </p>
      <p>(レビュー<%= @item_post.reviews.count %>件)</p>
    </div>
  <div class ="row justify-content-center">
    <div class ="col-3 text-center mt-2">
    </div>
  </div>
  <%= render 'admin/item_posts/review_index', reviews: @reviews %>
</div>