<div class="container">
  <div class="row">
    <!--ジャンル検索画面-->
    <div class="col-md-2">
      <%= render 'public/homes/genre', genres: @genres %>
    </div>
    <!--商品一覧画面-->
    <div class ="col-md-10">
      <h2><%= @genre.genre %>の検索結果</h2>
      <div class ="row ml-2">
        <p>ジャンル:<%= @genre.genre %>(全<%= @item_posts.count %>件)</p>
      </div>
      <% @item_posts.each do |item| %>
        <%= link_to item_post_path(item.id) do %>
          <div class = "row border border-dark mt-2 mb-1">
            <div class ="col-md-4">
              <%= image_tag  item.get_item_image(150, 100), class: "small-image" %>
            </div>
            <div class "col-md-8">
              <table>
                <th>
                  <tr>
                    <td>商品名</td>
                    <td><%= item.item_name %></td>
                  </tr>
                  <tr>
                    <td>ジャンル</td>
                    <td><%= item.item_genre.genre %></td>
                  </tr>
                </th>
              </table>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
      <!--ページ選択-->
      <!--<div class = "mx-auto">-->
      <!--  <#= paginate @items %>-->
      <!--</div>-->
    </div>
  </div>