<div class = "container">
  <h1><%= @item_post.item_name %>の編集画面</h1>
   <!--エラーメッセージ-->
    <%= flash[:alert] %>
    <div class="row">
      <%= form_with model: @item_post, url: item_post_path, method: :patch, local: true do |f| %>
        <table class ="table table-borderless">
          <th>
            <tr>
              <div id="preview_image"></div>
              <td>商品画像</td>
              <td>
                <% f.label :item_image %>
                <%= f.file_field :item_image, id: "field_item_image", accept: "image/*" %>
              </td>
            </tr>
            <tr>
              <td>商品名</td>
              <td>
                <% f.label :item_name %>
                <%= f.text_field :item_name, placeholder: @item_post.item_name %>
              </td>
            </tr>
            <tr>
              <td>商品モデル番号</td>
              <td>
                <% f.label :model_number %>
                <%= f.text_field :model_number, placeholder: @item_post.model_number %>
              </td>
            </tr>
            <tr>
              <td>商品説明文</td>
              <td>
                <% f.label :item_explanation %>
                <%= f.text_area :item_explanation, size: "45x5" %>
              </td>
            </tr>
            <tr>
              <div class="form-group">
                <td>ジャンル</td>
                <td>
                  <!--アイテムのジャンルを既存のジャンルから選択するためのボックス-->
                <%= f.select :item_genre_id, options_from_collection_for_select(ItemGenre.all, :id, :genre),{ :include_blank => '--選択してください--' }, :required => true  %>
                </td>
              </div>
            </tr>
        </table>
      <div class="form-group">
        <%= f.submit '変更する', class: "btn-block btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
  <div class ="row justify-content-between">
    <%= link_to "商品投稿を削除する", item_post_path(@item_post), data: {confirm: "商品のレビューも全て消えてしまいますがよろしいですか？"}, method: :delete, class: "btn btn-danger" %>
  </div>
</div>