<div class="container">
  <div class="row">
    <!--ジャンル検索画面-->
    <div class="col-md-2">
      <%= render 'public/homes/genre', genres: @genres %>
    </div>
    <!--商品一覧画面-->
    <div class ="col-md-10">
      <div class ="row ml-1">
        <p>全商品投稿一覧(全<%= @item_post_count %>件)</p>
        <div class ="offset-md-3">
          <%= render 'public/searches/search' %>
        </div>
      </div>
      <div class ="row offset-md-7">
        <%= link_to 'レビュー件数の多い順', item_posts_path(review_count: "true") %>|<%= link_to '平均評価の高い順', item_posts_path(review_rate: "true") %>
      </div>
      <%= render 'public/item_posts/item_post_index', item_posts: @item_posts %>
    </div>
  </div>
</div>
