<!--選択が商品モデル番号だったら-->
<% if @column == "model_number" %>
  <div class="container" id ="model_number">
    <div class="row">
      <div class ="col-md-10">
        <div class ="row ml-2">
          <h3>【商品モデル番号】：<%= @content %>  の検索結果</h3>
          <p class ="offset-md-1">商品投稿一覧(全<%= @records_count %>件)</p>
        </div>
         <%= render 'admin/item_posts/item_post_index', item_posts: @records %>
      </div>
    </div>
  </div>
<!--選択が商品名だったら-->
<% elsif @column == "item_name" %>
  <div class="container" id ="item_name">
    <div class="row">
      <div class ="col-md-10">
        <div class ="row ml-2">
          <h3>【商品名】：<%= @content %>  の検索結果</h3>
          <p class ="offset-md-1">商品投稿一覧(全<%= @records_count %>件)</p>
        </div>
        <%= render 'admin/item_posts/item_post_index', item_posts: @records %>
      </div>
    </div>
  </div>
<!--選択が表示名だったら-->
<% elsif @column == "display_name" %>
  <div class="container">
    <div class ="row">
      <h3>【表示名】：<%= @content %>  の検索結果</h3>
      <p class ="offset-md-1">会員一覧(全<%= @records_count %>件)</p>
      <%= render 'admin/customers/customer_index', customers: @records %>
    </div>
  </div>
<!--選択がメールアドレスだったら-->
<% elsif @column == "email" %>
  <div class="container">
    <div class ="row">
      <h3>【メールアドレス】：<%= @content %>  の検索結果</h3>
      <p class ="offset-md-1">会員一覧(全<%= @records_count %>件)</p>
      <%= render 'admin/customers/customer_index', customers: @records %>
    </div>
  </div>
<% end %>

