<div class=container>
  <!--フラッシュ表示-->
  <%= flash[:notice] %>
  <%= form_with model: resource, url: customer_registration_path, id: 'new_public', class: 'new_public' do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
  <h2>新規会員登録</h2>
  <style>table,td {width: 70%;}</style>
    <table>
      <tr>
        <td>表示名(変更できません)</td>
        <td></td>
        <td>
          <div class="field">
            <% f.label :display_name %>
            <%= f.text_field :display_name, autofocus: true, placeholder: "半角英数のみ,15文字以内", required: true, size:60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td></td>
        <td>
          <div class="field">
            <% f.label :email %>
            <%= f.email_field :email, placeholder: "sample@example.com", required: true, size:60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>パスワード(6文字以上)</td>
        <td></td>
        <td>
          <div class="field">
            <% f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", required: true, size:60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>パスワード（確認用）</td>
        <td></td>
        <td>
          <div class="field">
            <% f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, size:60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
          <td class="text-center">
            <%= f.submit "新規登録", class: "btn-success btn-lg"%>
          </td>
      </tr>
    </table>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <h2>既に登録済みの方</h2>
      <%= link_to new_customer_session_path do %>
        こちら
      <% end %>
      からログインしてください。
    </div>
  </div>
</div>
